.blog header {
    margin-bottom: 2rem;
}
.blog header > * {
    margin: 0;
}

.smug {
    font-size: var(--font-size-s);
    background-color: var(--color-bg-gray);
    color: var(--color-border);
    padding: 0.4rem;
    width: max-content;
    font-weight: bold;
}

.blog *:is(h1, h2, h3, h4, h5, h6, p, li) {
    line-height: 1.5;
}

.blog ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.blog code {
    background-color: var(--color-bg-gray);
    border-radius: 8px;
    padding: 2px 8px;
    display: inline-flex;
    align-items: center;
}

.blog pre.astro-code code {
    all: unset;
}

pre.astro-code {
    padding: 1rem;
    border-radius: 8px;
    font-family: var(--font-mono);
    word-break: break-word;
}

pre.astro-code code {
    background-color: unset;
    font-size: unset;
    overflow-y: hidden;
    overflow-x: auto;
}
