.blog header {
    margin-bottom: 1rem;
}

.blog header > * {
    margin: 0;
}

.blog {
    /* max-content width */
    max-width: 750px;
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {
    .blog {
        max-width: unset;
        margin: 0 1rem;
    }
}

.smug {
    font-size: var(--font-size-sm);
    background-color: var(--color-bg-gray);
    padding: 0.4rem;
    width: max-content;
    font-weight: bold;
    border-radius: 4px;
}

.blog *:is(h1, h2, h3, h4, h5, h6) {
    line-height: 1.25;
}

.blog *:is(p, ul, ol, article) {
    line-height: 1.45rem;
}

/* highlight */
.blog code {
    background-color: var(--color-bg-gray);
    border-radius: 4px;
    padding: 0rem 0.1rem;
    margin: 0.02rem 0.05rem;
    display: inline-flex;
    align-items: center;
}

.blog pre.astro-code code {
    all: unset;
}

/* code snippet */
pre.astro-code {
    font-size: var(--font-size-sm);
    padding: 1rem;
    border-radius: 8px;
    font-family: var(--font-mono);
    word-break: break-word;
    max-height: 30vh;
}

pre.astro-code code {
    background-color: unset;
    font-size: unset;
    overflow-y: hidden;
    overflow-x: auto;
}

/* table css */

tr > th, tr > td {
    padding: 0.25rem 0.75rem;
}

thead {
    box-shadow: 0px 1px 0px 0px var(--color-gray-light);
}

table {
    border-radius: 4px;
    border: 1px solid var(--color-gray-light);
}