:root {
    --font-size-sm: 0.875rem; /* 14px */
    --font-size: 1rem;  /* 16px */
    --font-size-md: 1.25rem;  /* 20px */
    --font-size-lg: 1.5rem;  /* 24px */
    
    --font-size-title-sm: 1.75rem;  /* 28px */
    --font-size-title: 2rem;  /* 32px */
    --font-size-title-md: 2.5rem;  /* 40px */
    --font-size-title-lg: 3rem;  /* 48px */

    --color-text: hsl(0, 0%, 85%);
    --color-bg: hsl(219, 35%, 10%);
    --color-bg-pale: hsl(219, 20%, 17%);
    --color-bg-gray: hsl(220, 25%, 25%);
    --color-primary: hsl(172, 100%, 35%);
    --color-primary-dark: hsl(178, 90%, 30%);
    --color-primary-transparent: hsl(172, 100%, 35%, 0.3);
    --color-contrast: #c74b64;
    --cool-gradient: linear-gradient(0deg, #7765ff, var(--color-primary));

    /* 
        Extra Small = xs
        Small       = s
        Medium      = m
        Large       = l
        Extra Lager = xl
    */
    /* units */
    --pad-xs: 0.5rem;
    --pad-s: 1rem;
    --pad-ls: 1.5rem;
    --pad-med: 2rem;
    --pad-lg: 3rem;
    --pad-xl: 4rem;

    --font-fallback: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
        Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    --font-body: Popins, system-ui, sans-serif, "IBM Plex Sans",
        var(--font-fallback);
    --font-mono: "IBM Plex Mono", Monaco, Consolas, "Andale Mono WT",
        "Andale Mono", "Lucida Console", "Lucida Sans Typewriter",
        "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono",
        "Nimbus Mono L", "Courier New", Courier, monospace;
    color-scheme: dark;
}

html {
    font-family: var(--font-body);
    font-size: var(--font-size);
    color: var(--color-text);
    background-color: var(--color-bg);
}

body {
    margin: 0;
    word-break: break-word;
    word-wrap: break-word;
    overflow-x: hidden;
}

/* Warning: global for all layouts */
main {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

h1 {
    font-size: var(--font-size-title-md);
}

h2 {
    font-size: var(--font-size-title);
}

ul {
    padding-left: 1.5rem;
    margin: 0;
}

/* utility classes */

.column {
    display: inline-flex;
    flex-direction: column;
}

.gap-small {
    gap: var(--pad-s);
}

.gap-medium {
    gap: var(--pad-med);
}

.row {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: var(--pad-ls) 0;
}

a {
    text-decoration: none;
    color: var(--color-primary);
}

.link {
    position: relative;
}

.link::after {
    position: absolute;
    left: 0px;
    width: 0%;
    height: 4px;
    content: "";
    display: block;
    transition: all 0.2s cubic-bezier(0.17, 0.84, 0.44, 1);
    background-color: var(--color-primary-dark);
}

.link-parent:is(:hover, :focus-within) .link::after {
    width: 100%;
    left: 10px;
}

button {
    cursor: pointer;
    background-color: var(--color-primary);
    color: var(--color-bg);
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    font-weight: bold;
    transition: all 0.2s ease;
}

button:hover {
    background-color: var(--color-primary-dark);
}

blockquote {
    margin-left: 0px;
    background-color: var(--color-bg-pale);
    color: var(--color-text);
    padding: 0.4rem 1rem;
    border-radius: 8px;
}

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

nav h2 {
    margin: 0;
    font-weight: 900;
    background-image: var(--cool-gradient);
    background-size: 100% 200%;
    border-radius: 0.5rem;
    background-position-y: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: vibe 4s ease infinite;
}

/* On Mobile */
@media only screen and (max-width: 500px) {
    nav {
        flex-wrap: wrap;
    }

    nav h2 {
        font-size: var(--font-size-md);
    }
}

@keyframes vibe {
    0%,
    100% {
        background-position-y: 0%;
    }

    50% {
        background-position-y: 80%;
    }
}
