---
import Layout from '../layouts/Layout.astro';
import BlogPreview from '../components/BlogPreview.astro';

const uposts = await Astro.glob("./posts/*.md");
const posts = uposts.sort(function (a, b) {
	return (
		new Date(b.frontmatter.postdate).valueOf() - new Date(a.frontmatter.postdate).valueOf()
	);
});
---

<Layout title="Gers Blog" description="Gers Blog Posts">
	<div class="grid">
		<ul class="column">
			{posts.map(({ url, frontmatter }) => (
			<BlogPreview title={frontmatter.title} description={frontmatter.description} postdate={frontmatter.postdate}
				url={url!} />
			))}
		</ul>
	</div>
</Layout>


<style>
	.grid {
		display: grid;
		grid-template-columns: 1fr 2fr 1fr;
	}

	ul {
		padding-left: 0;
		grid-column: 2 / 3;
	}

	/* On Mobile */
	@media only screen and (max-width: 768px) {
		.grid {
			grid-template-columns: 1fr;
		}

		ul {
			grid-column: 1 / 2;
		}
	}
</style>