---
import Layout from "../layouts/Layout.astro";
import BlogPreview from "../components/BlogPreview.astro";
import type { PostMetaData } from "../_types";

const my_posts = await Astro.glob<PostMetaData>("./posts/*.md");

const posts = my_posts.sort(
    (a, b) =>
        new Date(b.frontmatter.postdate).valueOf() -
        new Date(a.frontmatter.postdate).valueOf()
);
---

<Layout
    title={"Hello Gers Blog"}
    description={"blog about computer science, nerd stuff and tech"}
>
    <div class="preview-list">
        <ul class="column gap-medium">
            {
                posts.map(({ url, frontmatter }) => (
                    <BlogPreview
                        title={frontmatter.title}
                        description={frontmatter.description}
                        postdate={frontmatter.postdate}
                        url={url!}
                    />
                ))
            }
        </ul>
    </div>
</Layout>

<style>
    .preview-list {
        max-width: 50%;
        margin: 0 auto;
    }

    /* On Mobile */
    @media only screen and (max-width: 768px) {
        .preview-list {
            max-width: unset;
            margin: 0;
        }
    }
</style>
