<nav>
    <a class="row" href="/">
        <img src="/hello-friend-icon.svg" width="50px" height="50px" alt="hello friend icon" />
        <h2>Gers Blog</h2>
    </a>
    <a href="https://github.com/Gers2017" target="_blank" title="Github profile">
        <img src="/github.svg" width="40px" height="40px" />
    </a>
</nav>

<style>
    :root {
        --cool-gradient: linear-gradient(0deg, #7765ff, var(--color-primary));
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 4rem;
    }

    h2 {
        margin: 0;
        font-size: 2.5rem;
        font-weight: 900;
        background-image: var(--cool-gradient);
        background-size: 100% 200%;
        border-radius: 0.5rem;
        background-position-y: 100%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: vibe 4s ease infinite;
    }

    /* On Mobile */
    @media only screen and (max-width: 500px) {
        nav {
            flex-wrap: wrap;
        }

        h2 {
            font-size: 1.5rem;
        }
    }

    @keyframes vibe {

        0%,
        100% {
            background-position-y: 0%;
        }

        50% {
            background-position-y: 80%;
        }
    }
</style>