---
import { BlogMeta } from "../_constants";
---

<nav>
    <a class="row" href="/">
        <img
            src="/hello-friend-icon.svg"
            width="40px"
            height="40px"
            alt="hello friend icon"
        />
        <h2>Gers Blog</h2>
    </a>

    <div class="row gap-medium">
        <a rel="me" target="_blank" href={BlogMeta.links.mastodon}>
            <img src="/mastodon.svg" width="40px" height="40px" />
        </a>

        <a href={BlogMeta.links.github} target="_blank" title="Github profile">
            <img src="/github.svg" width="40px" height="40px" />
        </a>
    </div>
</nav>
