---
import "../styles/global.css";
import BaseHead from "../components/BaseHead.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

export interface LayoutProps {
    title: string;
    description: string;
}

const { title, description } = Astro.props as LayoutProps;
const githubUrl = "https://github.com/Gers2017";
---

<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
    </head>

    <body>
        <Navbar githubUrl={githubUrl} />
        <main>
            <slot />
        </main>
        <Footer author="Gers" />
        <style>
            html {
                font-family: Popins, system-ui, sans-serif;
                font-size: var(--font-size-base);
                color: var(--color-text);
                background-color: var(--color-bg);
            }

            body {
                margin: 0;
            }

            main {
                min-height: 90vh;
                max-width: 1260px;
                margin: 1rem auto;
            }

            /* On Mobile */
            @media only screen and (max-width: 768px) {
                main {
                    margin: 1rem 0;
                }
            }

            :global(h1) {
                font-size: var(--font-size-xl);
            }

            :global(h2) {
                font-size: var(--font-size-lg);
            }
        </style>
    </body>
</html>
